/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap");
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins", "sans-serif";
}
a {
  text-decoration:none;
}
.header {
  position:fixed;
  height:80px;
  width:100%;
  z-index:100;
  padding:0 20px;
}
.nav {
  max-width:1100px;
  width:100%;
  margin:0 auto;
}
.nav,
.nav_item {
  display:flex;
  height:100%;
  align-items:center;
  justify-content:space-between;
}
.nav_logo img{
  
  width:100px;
  height:50px;
  margin-right:30px;
  border-radius:10%;
}
.nav_link,
.button {
  color:azure;
}
.nav_logo {
  font-size:25px;
}
.nav_item {
  column-gap:25px;
}
.nav_link:hover {
  color:#d9d9d9;
}
.button {
  padding:6px 24px;
  border:2px solid #fff;
  background:transparent;
  border-radius: 6px;
  cursor:pointer;
}
.button:active {
  transform: scale(0.98);
}

/* Home */
.home {
  position:relative;
  height:100vh;
  width:100%;
  background-image:url("/static/image\ 1.jpg");
  background-size:cover;
  background-position:center;
}
.home::before {
  content:"";
  position:absolute;
  height:100%;
  width:100%;
  background-color:rgba(0, 0, 0, 0.6);
  z-index:100;
  opacity:0;
  pointer-events:none;
  transition:all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events:auto;
}
/* From */
.form_container {
  position:fixed;
  max-width:320px;
  width:50%;
  top:50%;
  left:50%;
  transform:translate(-50% ,-50%) scale(1.2);
  z-index:101;
  background-image:url("/static/image\ 2.jpg");
  padding:25px;
  border-radius: 12px;
  box-shadow: rgba(0,0,0,0.1);
  opacity:0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity:1;
  pointer-events:auto;
  transform:translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input_box {
  position:relative;
  margin-top:30px;
  width:100%;
  height:40px;
}
.input_box input {
  height:100%;
  width:100%;
  border:none;
  outline:none;
  padding:0 30px;
  color:#333;
  transition:all 0.2s ease;
  border-bottom:1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #7d2ae8;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #7d2ae8;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: #7d2ae8;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color: #7d2ae8;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
/* main banner */
.hero-text{
  position: absolute;
  text-align: center;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
  color:#fff;
}
.hero_title{
  font-size:4.5rem;
}
.hero_desc{
  font-size:1.5rem;
   
}
/* about section */
.about-name{
  text-align: center;
}
.about-container{
  display:flex;
  align-items:center;
  margin:5px;
  background-image: url("/static/image\ 4.jpg");
  border-radius: 10px;
  background-size:cover;
  height:100vh;
  position:relative;
  color: white;
    
}
.about-container img{
  width:250px;
  height:auto;
  margin-right:40px;
  border-radius:50%;
  right:30%;
  transform: translate(40%);

}
#resume-button{
   position:absolute;
   bottom:205px;
   left:140px;
   background-color:rgb(235, 241, 241);
   color:black;
   border: none;
   border-radius:10px;
   padding:8px 16px;
   font-size: 14px;
   cursor:pointer;
   transform:transform 0.2s;
}
#resume-button:active{
    transform:scale(0.95);
}

.about{
  font-family:Arial, Helvetica, sans-serif;
  left:10%;
  transform:translate(10%);
}

/* project section */
.project-name{
  text-align: center;
}
.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card h2 {
  margin-top: 15px;
  font-size: 1.5em;
}

.card p {
  margin-top: 10px;
  font-size: 1em;
  color: #555;
}
/* skill section */

.skills-name{
  text-align: center;
  
}
.skills-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
  background-color:slategrey;
  border-radius: 10px;
  padding:20px;
  max-width:800px;
  margin:0 auto;

}

.skill {
  position:relative;
  border:2x solid #444;
  border-radius: 5px;
  padding:10px;
  color: white;
  text-align: center;
}

.skill-logo {
  width: 50px;
  height: 50px;
  margin :0 auto;
  background-color: #333;
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.skill-bar {
  position:absolute;
  bottom:0;
  left:0;
  height: 4px;
  background-color: #fff;
}

/* .skill-bar::after {
  content: '';
  height: 100%;
  display: block;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
} */
.skill.percentage{
  position:absolute;
  bottom:10px;
  left:10px;
  font-size:14px;
}

.html .skill-bar {
  
  background-color: orange;
}

.css .skill-bar {
  
  background-color: blue;
}

.js .skill-bar {
  
  background-color: yellow;
}

.c .skill-bar {

  background-color: green;
}

.python .skill-bar{
  
  background-color: blueviolet;
}
.microsoft.skill-bar{

  background-color:dodgerblue;
}

.skill-logo img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}


  
/* contact section */
.contact-name{
  text-align: center;
}

.contact-container{
  position: relative;
  height:auto;
  width: 100%;
  background-color: #7d2ae8;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
.contact-conatiner p{
  text-align: left;
} 
#linkedin-logo{
  margin-left: 10px;
  height: 45px;
  margin-top:5px;
  cursor: pointer;
}
#github-logo{
  margin-left:10px;
  margin-top: 5px;
  height: 45px;
  cursor:pointer;
}
#instagram-logo{
  margin-left:10px;
  margin-top: 5px;
  height: 45px;
  cursor:pointer;
}

/* form */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input-container {
  margin-bottom: 15px;
}

.input-container label {
  margin-bottom: 5px;
  display: block;
}

.input-container input, .input-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#social-links {
  margin-top: 20px;
}

#social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #007BFF;
}

#social-links a:hover {
  text-decoration: underline;
}
